*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body {
    background-color: gray;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Typography */
h1 {
    font-size: 4rem;
    font-family: 'Chelsea Market', cursive;
    text-align: center;
}

#canvas1 {
    border: 5px solid white;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

#fullScreenBtn {
    font-size: 20px;
    padding: 10px;
}

.d-none {
    display: none;
}
